[2015-11-09 08:54] DavidWiesner opened #5 "Missing title and artist information in the sidebar"
Hi,
thanks for your work!
I found an issue with your integration. The method 'update' in 'integrate.js' is unable to fetch information about the title and the artist of the current song.

![acp-missing title and artist](https://cloud.githubusercontent.com/assets/243115/11029486/9ed8f74c-86c7-11e5-9800-ff5067f37042.png)

I don´t know what webengine nuvola 3 beta use but 'innerText' on a text-elemen

[2015-11-10 12:23] jiri-janousek commented on #5
Hi @DavidWiesner, thanks for noticing this issue. I guess the HTML code of Amazon Cloud Player changed in a way that made innerText broken. I'll take a look at it later today.

[2015-11-10 13:51] DavidWiesner commented on #5
Hi @fenryxo thanks for looking at. But the HTML Code doesn't change, or at least does not effect the parsing. The problem is the webengine and the javascript API to get to the text content of the element. It´s the same element in the DOM, just try the `textContent` and `innerText` to get the inner text

[2015-11-11 09:28] jiri-janousek commented on #5
The script used to work fine. Something in the web page must have changed since then and it broke the parsing.

I've made a pull request #6 for @SteVwonder to review.

[2015-11-27 14:08] JulienGAMartin opened #7 "Unity no background play and no integration with indicator"
Hi
the player stopped is the main window closed even when the option play in the background is checked.
No notifications
No integration with Ubuntu sound indicator
Quicklist in Unity is greyed out and not available.
Control options (play, stop,...) in the menu and HUD are also greyed out and not available
Amazon Cloud Player v 5.0
Ubuntu 15.10

[2015-11-27 20:34] jiri-janousek commented on #7
Hello @martinjuju. Thanks for taking the time to report this issue. I'm notifying the mainainer of Amazon Cloud Player script.

@SteVwonder, could you take a look at this issue?

[2015-12-01 09:48] bbuhler opened #8 "Not working anymore since Amazon updated their player"
Since the latest updates to Amazon Prime Music the media-key mapping and song title notifications are not working anymore.

[2015-12-02 10:25] jiri-janousek commented on #8
Thanks for taking the time to report this issue. Unfortunately, the maintainer of the Amazon Cloud Player script seems to be too busy lately. I'll probably have to step in and either fix the issue myself or remove the script from supported services.

[2015-12-13 10:18] jiri-janousek commented on #5
Fixed in Amazon Cloud Player script 5.1. Thanks for your bug report.

[2015-12-13 10:18] #5 closed, assigned to nobody

[2015-12-13 10:18] jiri-janousek commented on #7
Fixed in Amazon Cloud Player script 5.1. Thanks for your bug report.

[2015-12-13 10:18] #7 closed, assigned to nobody

[2015-12-13 10:18] jiri-janousek commented on #8
Fixed in Amazon Cloud Player script 5.1. Thanks for your bug report.

[2015-12-13 10:18] #8 closed, assigned to nobody

[2015-12-15 10:26] bbuhler commented on #8
Thank you for fixing it (:

[2015-12-30 23:05] SteVwonder commented on #7
Thanks @fenryxo!  Sorry for the slow response. The end of the semester was absorbing most of my time.  I'm free'd up for a few months now.

[2016-01-02 11:28] jiri-janousek commented on #7
Hello @SteVwonder. It is pretty OK you being busy. However, you should respond to e-mails (within a week) to tell me you are busy. Otherwise, I may assume you have abandoned your script and I can remove it from the Nuvola Player repository.

[2016-01-15 11:51] jiri-janousek opened #9 "Amazon Cloud Player doesn't remember session"
A feedback from Mark A. Hershberger @hexmode (a Nuvola Patron):

Hi @SteVwonder, could you verify that Amazon Cloud Player doesn't remember session and always requires you to sign in? If so, does this issue happen also in Firefox and Chrome/Chromium? (GNOME keyring is a separate ticket tiliado/nuvolaplayer#41.)

[2016-01-16 02:51] SteVwonder commented on #9
This happens in Nuvola, Firefox, and Chrome.

[2016-01-17 17:36] jiri-janousek commented on #9
This should be fixed by Amazon. Is there any way an Amazon Cloud Player customer can report bugs or suggestions?

[2016-01-22 18:22] SteVwonder commented on #9
After you login, in the bottom left, there is a "Send us feedback" option that pops up when you mouse over your account name.  I sent in my own feedback about the issue.

[2016-01-25 19:02] hexmode opened #10 "Amazon cloud player doesn't have a debian dependency on flash"
I ran into a problem with the player not starting up, so I began removing plugins.

I was able to uninstall flash without any complaint, but when I logged in to the player, it told me I needed to install flash.  After installing flash it worked again.

By the way the conflicting packages that appeared to make the player break were gecko-mediaplayer and icedtea-7-plugin.

[2016-01-25 19:03] hexmode commented on #10
ping @fenryxo and @SteVwonder (not sure I need to do that, but just in case.)

[2016-01-25 20:59] darnells opened #11 "Prime Music Stations do not play"
1. Open Amazon Cloud Player and login to Amazon Prime Music
2. Select 'Stations' from the menu panel
3. Select any station to play
   *\* A wait cursor appears on the selected station, but it never plays. The current panel is unresponsive until the Nuvola refresh or home buttons are pressed.

Playlists and albums work as expected.

Nuvola Player 3.0.0
Amazon Cloud Player 5.1
Linux Mint 17.0 (Ubunt

[2016-01-27 17:50] jiri-janousek commented on #9
Great, @SteVwonder, thanks.

[2016-01-27 18:03] jiri-janousek commented on #10
Hi @hexmode. Thanks for reporting this issue. Indeed, Nuvola Player currently only recommends the Flash plugin but it should depend on it. Individual services don't have own dependencies yet (tiliado/nuvolaplayer#158).

[2016-01-29 00:42] SteVwonder commented on #11
I was able to reproduce this issue both in Nuvolaplayer and WebKitGtk's Minibrowser, so I believe this is a WebKitGtk issue not a Nuvolaplayer issue.  @fenryxo, any suggestion on how to proceed?

[2016-01-29 15:37] jiri-janousek commented on #11
Hi @SteVwonder. I need more info :-) Which system do you use? Is the issue reproducible also in the latest Ubuntu/Fedora? Could you provide debugging output? See [Bug Reporting Guidelines](https://github.com/tiliado/nuvolaplayer/wiki/Bug-Reporting-Guidelines) for details.

[2016-01-30 16:02] SteVwonder commented on #11
OS: Ubuntu 14.04
Arch: x86_64
Window Manager: i3
Webkit: webkit2gtk-3.0 (0.26)
Nuvolaplayer: 3.0.0 (53b1d03843d1987c3510401da8959384fa25670e)

Nuvolaplayer run with debug output: https://gist.github.com/SteVwonder/efbd10ec37683a96046d

During that run, I played a playlist (which worked) then played a station (which didn't).  The WebkitWebProcess was using most of the CPU once I tried to play the s

[2016-01-30 16:22] jiri-janousek commented on #11
I suppose these console error messages show up when you start playing a station. Am I right?

[code]

Ubuntu 14.04 has a quite old WebKit (2.4.8-1ubuntu1~ubuntu14.04.1). Do you have a chance to check the issue in Ubuntu 15.10 (e.g. in VirtualBox)?

[2016-01-31 15:33] SteVwonder commented on #11
It plays correctly in Ubuntu 15.10.

[2016-01-31 16:50] jiri-janousek commented on #11
It's very likely that Prime Music Stations require a feature that is not present in WebKitGTK 2.4 (Ubuntu 14.04), but has been already implemented in a recent WebKitGTK. Is it possible to install [libwebkit2gtk-4.0-37 2.8.5+dfsg1-3](http://packages.ubuntu.com/wily/libwebkit2gtk-4.0-37) or  [libwebkit2gtk-4.0-37 2.6.2+dfsg1-4ubuntu1](http://packages.ubuntu.com/vivid/libwebkit2gtk-4.0-37) into Ubunt

[2016-02-04 22:20] SteVwonder commented on #11
I tried installing [libwebkit2gtk-4.0-37 2.6.2+dfsg1-4ubuntu1](http://packages.ubuntu.com/vivid/libwebkit2gtk-4.0-37) but I very quickly ran into a conflicting dependency.  It requires libatk1.0-0_2.14 but there is an existing dependency (on my clean install Ubuntu 14.04) on libatk1.0-0_2.10.  The dependency tree looks like:

[code]

So I don't think this is feasible.  Hand compiling a new webkit2

[2016-02-04 23:00] darnells commented on #11
Since this is an out-of-date dependency problem, I feel that this analysis satisfactorily resolves the issue. I am an Ubuntu LTS user and the next LTS release is only two months away. My only other request would be that a note is placed in the nuvola-app-amazon-cloud-player readme stating that Prime Music Stations requires WebKitGTK 2.6.2 or greater.

[2016-02-05 12:06] jiri-janousek commented on #11
I've created a wiki page [Known Issues](https://github.com/tiliado/nuvola-app-amazon-cloud-player/wiki/Known-Issues). @SteVwonder, could you link it at `README.md` and close this ticket?

[2016-02-08 16:05] SteVwonder commented on #11
Updated README.md. Closing this issue.

[2016-02-08 16:05] #11 closed, assigned to nobody

[2016-04-12 14:27] MaSven opened #12 "Songbar not changing"
To reproduce
- Make a list of songs
- Spring to the last song
- Skip to the last second of the song
- now double tap on a song to play it
- The songbar will now show only the last song of the List and seconds will hold at -1

Amazon-Player version 5.1 Nuvola-Player version 3.0.0
![amazonbug](https://cloud.githubusercontent.com/assets/9138252/14463455/5e3adaec-00cb-11e6-87c6-8c3d901519c3.png)

[2016-04-14 10:34] jiri-janousek commented on #12
Hello @Eiamnacken. Thanks for taking the time to report this issue. I need more information to investigate it further. Could you provide information about your system? See [Bug Reporting Guidelines](https://github.com/tiliado/nuvolaplayer/wiki/Bug-Reporting-Guidelines#your-system) for details.

[2016-04-15 17:45] xmbwd opened #13 "Amazon Cloud Player -- Selections open in browser"
All of a sudden, when I click any of the selections in the player instead of opening the music selection in the player, it opens in a browser.  That is, any selection (e.g., Artists or Play list) does not have a result inside the player, but is instead routed to the default web browser.

[2016-04-16 19:49] jiri-janousek commented on #11
The repository of **the Nuvola Player 3.1 Rolling Releases** now contains the WebKitGTK 2.8.5 packages for Ubuntu 14.04 and Nuvola Player packages for this distribution have been rebuilt to use them instead of the old WebKitGTK packages provided by Ubuntu. **This should fix all rendering/integration issues that had occurred only in Ubuntu 14.04.** Nuvola Patrons and other people with access to the

[2016-04-18 11:31] semidark commented on #13
Same for me. I attached the Console Debug Output of the Application Start and one "Click" wich opens in Firefox

[nuvolaplayer3_debug_amazon.txt](https://github.com/tiliado/nuvola-app-amazon-cloud-player/files/223642/nuvolaplayer3_debug_amazon.txt)

[2016-04-18 11:42] WillGresham commented on #13
Also got the same issue, although interestingly right-click and then selecting 'Open Link' seems to open the links in the application rather than in the web browser.

[2016-04-19 07:02] semidark commented on #13
@WillGresham Right click workaround works for me too

[2016-04-19 07:23] jiri-janousek commented on #13
Hello everybody. Thanks for taking the time to report this issue. It seems Amazon changed addresses of various pages so the URL filter needs to be updated.

@SteVwonder, could you look at it? Thanks.

[2016-04-20 03:30] SteVwonder commented on #13
Yes.  I can look at it this weekend.

[2016-05-01 03:53] SteVwonder commented on #13
So I think I have a new working version. If someone else would be willing to test it out, that would be awesome.  https://github.com/SteVwonder/nuvola-app-amazon-cloud-player/tree/new_url

[2016-05-03 10:00] chaosblog commented on #13
I checked the [new_url branch](/SteVwonder/nuvola-app-amazon-cloud-player/tree/new_url) and it works for me. :+1:

Before I had the same issue, the links were opened in a browser and were only usable in the application when right-clicked.
With the new_url code everything worked fine again. Thank you very much.

[2016-05-04 20:35] SteVwonder commented on #13
Sweet. I setup a pull request to merge it into the main fork.  The only problem with the new version is that when you are listening to prime radio, there is no way to grab the album for scrobbling.  I was unable to find this information anywhere in the html, so I think its a limitation of their layout redesign.

@fenryxo, does this warrant a bump in the minor version?

[2016-05-06 14:04] jiri-janousek commented on #13
Minor version changes only when there is a new release. Would you like me to create new release of your script? If yes, [create an issue for me to do it](https://tiliado.github.io/nuvolaplayer/development/apps/guidelines.html#releases) but don't change version numbers.

[2016-05-10 10:00] chaosblog commented on #13
@SteVwonder when listening to a playlist or to prime radio, there is no album information.
Is it possible, to follow links and grep the new page? I haven't looked into the code of nuvola and the cloud player yet
When you can open the link to get the current song from the shop, you can get the album which contains the track.

[2016-05-12 03:24] SteVwonder commented on #13
That is a good question. @fenryxo could probably answer in more detail.   My guess is that it is technically feasible (a hackish solution would be to just make the requests with javascript and parse it from there), but I also guess that it is principally in-feasible.  Without careful coding, this would result in an HTTP request to Amazon even time that Nuvola polls the plugin for song metadata (I

[2016-05-17 07:01] jiri-janousek commented on #13
Nuvola Core doesn't poll for metadata at all, it is just waiting for your script to send the metadata via `player.setTrack(track)` ([code](https://github.com/tiliado/nuvola-app-amazon-cloud-player/blob/master/integrate.js#L146)). Actually, it is your script which pools for metadata via the `WebApp.update` function scheduled to be executed every 500 ms ([code](https://github.com/tiliado/nuvola-app-

[2016-05-17 08:32] jiri-janousek commented on #13
Actually, I won't because I don't have Prime Radio subscription.

[2016-05-19 10:43] chaosblog commented on #13
I digged into the HTML and found a place where the album name is hidden - when you listen to a playlist.

There are serveral tables for the playlist - 19 Tracks are in one table. The tables have an id, starting with 0 for the first table.

[code]

The current played song in the playlist table has an svg element and a span element which helps to find the current song - there is a td element afterwa

[2016-05-24 19:17] SteVwonder commented on #13
It looks like Amazon updated their layout to include album names in the actual text (displayed to the user), so assuming you don't navigate away from your playlist page, we can parse the album name.  I have a prototype at [new_url_2](/SteVwonder/nuvola-app-amazon-cloud-player/tree/new_url_2).  @chaosblog, can you give the new branch a spin?  It should always produce the correct album name (assumin

[2016-07-23 22:53] lonlazer opened #17 "Nuvola does not recognise the current song"
Nuvola does not recognise the current song. It shows in the sidebar only (null). So neither the lyrics plugin nor the desktop notifications are working.

I installed the Version 5.1 of the Plugin and Version 3.1.0 of Nuvola via the Arch User Repository.

![screenshot_20160724_004057](https://cloud.githubusercontent.com/assets/19411776/17080677/06871d16-5138-11e6-9c19-b5dfcfd5b971.png)

[2016-07-25 08:56] jiri-janousek commented on #13
Hello @SteVwonder. This issue was opened more than 3 months ago. Are you going to push a fix to the master branch anytime soon?

[2016-07-25 09:03] jiri-janousek commented on #17
Hello @lonlazer. Thanks for taking the time to report this issue. I can confirm it.

@SteVwonder, could you take care of it? Thanks!

[2016-09-15 11:37] Hibbo opened #19 "High CPU consumption with maximized window"
Using Nuvola 3.0.3 with as Amazon Cloud Player (5.1) on Fedora 24.

CPU consumes around 80% when windows in brought to front.
  PID USER      PR  NI    VIRT    RES    SHR S  %CPU %MEM     TIME+
25024 cfi       20   0 3510156 346200  44684 R  82.8  4.4  25:05.61 WebKitWebProces
25067 cfi       20   0 2324700  35440  12420 S  13.6  0.5  14:04.48 WebKitPluginPro
25008 cfi       20   0 3019132  29968

[2016-09-16 12:53] jiri-janousek commented on #19
Hello @Hibbo. Thanks for taking the time to report this issue. I need more information to investigate it further.
- Do you use the default desktop theme?
- Is the issue reproducible also in the GNOME Web browser (previously called Epiphany) and the Amazon Cloud Player website?
- What graphic card do you use?

[2016-09-16 13:55] Hibbo commented on #19
Hi,
I am using Cinnamon as DE:
cinnamon.x86_64                         3.0.7-1.fc24
theme "Android Holo".

Its iGPU Intel HD Graphics 4400.

Gnome browser is not installed, whats the name of the package?

[2016-09-16 15:32] jiri-janousek commented on #19
Does the issue persist if you select the default Cinnamon theme?

Probably epiphany.

[2016-09-20 07:23] Hibbo commented on #19
No difference with standard theme.

I installed epiphany and can observe same CPU consumption:

[code]

[code]

[2016-09-20 08:03] jiri-janousek commented on #19
Could you check out whether the issue happens in Nuvola Player 3.0.4 released a few days ago?

[2016-09-20 09:30] Hibbo commented on #19
Yes, updated already, same result.

Frontwindow: ~90% CPU
Backwindow: 30-40% CPU
for WebKitWebProces process.

[2016-09-20 10:26] jiri-janousek commented on #19
So it isn't the bug I thought it could be (tiliado/nuvolaplayer#245).

Since the issue occurs also in Epiphany, I suspect there might a bug in the WebKitGTK library. Could you [report the issue upstream](http://goo.gl/TcsBMf) and post a link to the your bug report here? Thanks.

[2016-09-20 11:31] Hibbo commented on #19
Webkit Bug ID https://bugs.webkit.org/show_bug.cgi?id=162264

[2016-09-20 11:58] jiri-janousek commented on #19
Thanks @Hibbo.

[2016-09-28 03:22] dskbrd commented on #17
I wonder if there is still someone taking care of updating this service/app.
Can someone give us some information about it?
@fenryxo @SteVwonder

[2016-09-28 10:20] jiri-janousek commented on #17
Hello @das-keyboard. This script is currently unmaintained as the maintainer @SteVwonder seems to have lost interest in it. I might take over it next month if there is any spare time.

[2016-10-22 14:30] jiri-janousek commented on #13
I've adopted this abandoned script and released version 5.2 with fixes.

-- Jiri Janousek, Nuvola Player developer • _My work on Nuvola Player and user support are [funded by Nuvola Patrons](https://tiliado.eu/nuvolaplayer/funding/). [:heart: Make a donation](https://tiliado.eu/nuvolaplayer/funding/) to keep the project going. Thank you._

[2016-10-22 14:30] #13 closed, assigned to nobody

[2016-10-22 14:30] jiri-janousek commented on #17
I've adopted this abandoned script and released version 5.2 with fixes.

-- Jiri Janousek, Nuvola Player developer • _My work on Nuvola Player and user support are [funded by Nuvola Patrons](https://tiliado.eu/nuvolaplayer/funding/). [:heart: Make a donation](https://tiliado.eu/nuvolaplayer/funding/) to keep the project going. Thank you._

[2016-10-22 14:30] #17 closed, assigned to nobody

[2016-10-22 14:32] jiri-janousek commented on #12
Hello @Eiamnacken. I'm closing this issue as I haven't received any response to my request for more information I posted on April 14th, 2016. If the issue still persists, feel free to add missing information and reopen this ticket.

[2016-10-22 14:32] #12 closed, assigned to nobody

[2016-10-22 14:37] jiri-janousek commented on #9
Seems ok now.

[2016-10-22 14:37] #9 closed, assigned to nobody

[2017-03-16 10:32] a-m-s opened #20 "Login fails"
When I try to log in (Amazon UK) it pops up the "open in" dialog box, and log in just doesn't happen. Perhaps an issue with the URL pattern matching?

This is with Nuvola 3.1.1+201703121725.8dd4dc8 and Amazon Cloud Player 5.3 from the flatpak install.

I've previously been able to use this with 3.0.4 just fine.

[2017-03-16 20:34] jiri-janousek commented on #10
Hello @hexmode. Nuvola is in progress to move to flatpak packages, so I'm closing this issue as obsolete.

[2017-03-16 20:35] jiri-janousek commented on #19
Is the issue still reproducible with Nuvola 3.0.7 and a recent WebKitGTK?

[2017-03-16 20:59] hexmode commented on #10
What does that mean?

[2017-03-16 21:02] jiri-janousek commented on #20
Hello @a-m-s. Could you provide a debugging output? `flatpak run eu.tiliado.NuvolaApp... -D` should do the trick. Thanks.

[2017-03-16 21:07] jiri-janousek commented on #10
No improvement for Debian/Ubuntu/Fedora packaging is planned as the next stable release Nuvola 4.0 will be available only as [cross-distribution flatpak packages](https://dl.tiliado.eu/nuvola-apps/). DEB/RPM packages are going to be discontinued.

[2017-03-16 21:07] #10 closed, assigned to nobody

[2017-03-17 09:48] a-m-s commented on #20
[code]

There doesn't seem to be much output around the login. Attached is a screenshot of what I see when I click "Sign in".
![screenshot from 2017-03-17 09-47-21](https://cloud.githubusercontent.com/assets/5088295/24037814/e6cf3778-0af6-11e7-8aab-0ec0fd8f226b.png)

[2017-03-17 09:53] a-m-s commented on #20
Wait, when I launch the Amazon Cloud Player directly, rather than via the Nuvola launcher, I get this debug output:

[code]

The very last line is all that's new when I click "Sign in".

[2017-03-17 20:09] jiri-janousek commented on #20
Indeed, the URL pattern matching needs to be updated because Nuvola 3.1 filters all navigation actions triggered by an user interaction - not only link click as in Nuvola 3.0. Although I cannot think of any use case for filtering the form submissions, I'd like to leave this option open for now.

Would you be interested in becoming the maintainer of the Amazon Cloud Player script and fixing this is

[2017-03-20 11:20] a-m-s commented on #20
OK, I don't mind maintaining the players I actually use. Add the repo to the maintainers team and I'll take a look when I get time.

[2017-03-20 16:11] jiri-janousek commented on #20
Done, thank you. Also set yourself as the maintainer in `metadata.in.json`.

[2017-03-20 23:30] a-m-s commented on #20
Should be fixed now.

The login API uses www.amazon.*/{gp,ap} URLs. I've noticed any other functionality fail with those URLs allowed. The gp/ap urls don't seem to be used for readable pages, so this ought to work as intended.

[2017-03-20 23:30] #20 closed, assigned to a-m-s

[2017-04-08 18:53] jiri-janousek opened #21 "Update to comply with Service Integration Guidelines"
Hello @a-m-s. We have [Guidelines for scripts](https://tiliado.github.io/nuvolaplayer/development/apps/guidelines.html). I forget to mention them before but they have been just recently updated anyway. There were a few mistakes in your recent commits. Could you fix them? Thanks!

* c65b3da - It is necessary to [update changelog (CHANGELOG.md)](https://tiliado.github.io/nuvolaplayer/development/app

[2017-04-13 15:33] a-m-s commented on #21
Done, I think.

[2017-04-13 15:33] #21 closed, assigned to nobody

[2017-04-13 15:34] a-m-s opened #22 "Release 5.4"
As per #21

[2017-04-19 20:15] jiri-janousek commented on #19
A month without a response, closing.

[2017-04-19 20:15] #19 closed, assigned to nobody

[2017-04-19 20:16] jiri-janousek commented on #22
Thanks @a-m-s. I might get to this tomorrow 👍

[2017-04-21 18:12] jiri-janousek commented on #22
Flatpak build has been updated. 3.0.x packages are next.

[2017-04-21 19:11] #22 closed, assigned to jiri-janousek

[2017-04-30 14:47] macmike opened #23 "Amazon Music Playlists not playing on Linux Mint"
Last week, it was working perfectly, this week I can play individual songs from the My Music sognlist but can't view several Amazon Music pages such as Home, Recommended or my playlists. Selecting these pages brings the loading swirly in the main tab but nothing ever resolves.

I've tried turning the flash settings on and off again.

I'm running Linux Mint 17 64 bit nuvola v5.2 0 there's no errors

[2017-04-30 17:51] a-m-s commented on #23
5.2 is the Amazon plugin version. What version of Nuvola Player do you have?

Can you try the most recent Amazon plugin? It's version 5.4.

[2017-04-30 20:10] macmike commented on #23
I'm running nuvola v3.08 - I'll try updating the plugin...

[2017-04-30 20:18] macmike commented on #23
I'm getting the same behaviour on amazon plugin v5.4

[2017-04-30 21:57] a-m-s commented on #23
There's three things that might have changed: Nuvola, WebKit, and the
Amazon website. It's all still working for me. Please check your apt logs
and see if anything changed for you.

You can also check if it works in Epiphany (a.k.a. Gnome "Web")? Both
Epiphany and Nuvola use the same WebKit, so it'll be a good clue (probably,
I don't actually use Mint so I can't be sure). If that doesn't work, and

[2017-05-01 10:26] macmike commented on #23
Thanks for your help. I can confirm that Amazon Music works in Amazon web player in FireFox, Chrome and Epiphany/Web.
Which of the many webkit packages should I downgrade? Synaptic lists 124 with the "webkit" filter?

[2017-05-01 14:48] jiri-janousek commented on #23
Hello @macmike. Nuvola developer here. Thanks for taking the time to report this issue. I was able to reproduce it and managed to get rid of it by purging WebKitGTK+ cache, local storage and friends. There is no button for that in Nuvola yet (tiliado/nuvolaplayer#331) but you can do in with [a few commands](https://github.com/tiliado/nuvolaplayer/blob/master/tools/clean_app.sh).

First of all, log

[2017-05-01 18:48] macmike commented on #23
Hi @fenryxo - thanks for the tip. I did as you suggested but it didn't work :( It did clear my cache as I had to log in to AMU again, but I still can't see the content frame for playlists/home/recommended etc. although the filters under "My Music" (songs, artists, genres etc.) work as before.

[2017-05-02 07:13] a-m-s commented on #23
Maybe you can see if there's some other config/cache trouble by setting HOME to some empty directory and trying again?

env HOME=/tmp/empty nuvolaplayer3

[2017-05-02 18:24] jiri-janousek commented on #23
Could you also attach [a complete debugging output](https://github.com/tiliado/nuvolaplayer/wiki/Bug-Reporting-Guidelines#debugging-output)?

[2017-05-02 21:05] macmike commented on #23
I appreciate the help here folks - thankyou.

@a-m-s good idea - no change on a clean profile dir

But, I may be onto something... I tried running Amazon Music from the webkit minibrowser (/usr/lib/x86_64-linux-gnu/webkit2gtk-4.0/MiniBrowser) and got an error:

and in console:

which I assume means this is a webkit issue rather than a nuvola issue? I think my webkit is borked!

@fenryxo debug log

[2017-05-02 21:55] jiri-janousek commented on #23
Oh, sorry, I've just realized that the Linux Mint version you use (17) is not the latest one (18). That explains a lot. It contains ancient WebKitGTK that  contains a) an awful lot of security vulnerabilities b)  bugs that prevent some pages from working properly. I should have stopped building packages for these old systems a long ago (let's do that asap tiliado/nuvolaplayer#333). I recommend upg

[2017-05-02 21:55] #23 closed, assigned to nobody

[2017-05-02 22:23] macmike commented on #23
Thanks :) I'll upgrade!

[2017-06-01 13:57] martinkg opened #24 "metadata for add-on packages"
Since this is add-on package, it should contain add-on metadata [1]. This way, Gnome Software will be able to list this add-on side by side with Nuvola player, which is pretty convenient.

[1]: https://fedoraproject.org/wiki/Packaging:AppData#.metainfo.xml_file_creation

I have added a metainfo.xml file, that should copied to /usr/share/appdata/nuvola-app-amazon-cloud-player.metainfo.xml
[nuvola-a

[2017-06-01 17:45] #24 closed, assigned to nobody

[2017-06-01 17:45] jiri-janousek commented on #24
Issue moved to [tiliado/nuvolasdk #1](https://github.com/tiliado/nuvolasdk/issues/1) via [**ZenHub**](https://www.zenhub.com/)

[2017-06-19 10:54] martinkg opened #25 "rpmlint reports W: dangling-relative-symlink"
[code]

[2017-06-19 12:52] a-m-s commented on #25
@fenryxo This looks like it belongs elsewhere.

[2017-06-19 14:17] martinkg commented on #25
[code]

the link nuvolaplayer3_amazon_cloud_player.png points to file that are not existent.

[code]

[2017-06-20 14:45] martinkg opened #26 "Are the nuvolaplayer3_amazon_cloud_player.* icons required?"
Are the nuvolaplayer3_amazon_cloud_player.* icons required?
- I am not sure the icons located in %{_datadir}/icons/*/*/*
/nuvolaplayer3_amazon_cloud_player.* are required. The .desktop file specifies they should be named eu.tiliado.NuvolaAppAmazonCloudPlayer, which is the other set available.

[2017-06-21 08:36] voxik commented on #25
I think this could be outfall of the nuvolaplayer -> nuvolaruntime rename.

[2017-06-21 13:53] martinkg commented on #25
@voxik

is it ok if i place the sed command in the %build section ?
[code]

[2017-06-21 16:01] jiri-janousek commented on #25
Issue moved to [tiliado/nuvolasdk #3](https://github.com/tiliado/nuvolasdk/issues/3) via [**ZenHub**](https://www.zenhub.com/)

[2017-06-21 16:01] #25 closed, assigned to nobody

[2017-06-21 16:06] jiri-janousek commented on #26
They are needed by Nuvola 3.0 and they are still used in the internal icon loading code of Nuvola 4, which is going to change - tiliado/nuvolaruntime#353

[2017-06-21 16:06] #26 closed, assigned to nobody

[2017-06-29 12:58] a-m-s opened #27 "Release 5.5"
The plugin now supports the new seek API.

[2017-07-11 11:54] jiri-janousek commented on #27
Thanks @a-m-s.

* Is there any reason why you parse track length/position in two different ways? Once with Nuvola.parseTimeUsec and then with your custom parsing.
* Is it feasible to integrate volume management as well?

[2017-07-11 13:13] a-m-s commented on #27
I wrote the custom one before I found parseTimeUsec, and then there wasn't any great need to change it.

I'll take a look at volume management.

[2017-07-14 09:28] a-m-s commented on #27
When the volume slider is closed it's only possible to detect three volume levels ("mute", "min", and "mid"), and it can't be changed. I can probably simulate a click to flick open the volume control and set volume, but that seems a little unsatisfactory for reading. Maybe once at the start, for a moment, and then whenever the user has it open.

Volume will be less straight-forward than track posi

[2017-07-14 15:57] jiri-janousek commented on #27
That should be good enough. In Deezer, the volume bar is hidden with CSS but the current volume is still accessible via DOM. However, I need to [apply a few CSS styles to show the volume bar to change volume](https://github.com/tiliado/nuvola-app-deezer/commit/0b203ee75ca5313aceac463bac6e6ad8e093e213#diff-098b3dc2b23341d5f7b275f04786dc21R182).

[2017-07-28 08:19] thw0rted opened #28 ""Flash blocked" error for Prime streaming"
I'm trying to use the Cloud Player module to listen to Prime streaming music.  I'm on Ubuntu 16.04.  I was unable to do it in Chromium, which I'm told may be because of the DRM Amazon is trying to use.  I was hoping that the version of Flash that Nuvola uses might be different, but it looks like that's not the case.  I get this:

![image](https://user-images.githubusercontent.com/943160/28708840-f

[2017-07-28 08:37] jiri-janousek commented on #28
Hello @thw0rted. Thanks for taking the time to report your issue. I need more information to investigate it further:

* Which [version of Nuvola player](https://github.com/tiliado/nuvolaplayer/wiki/Bug-Reporting-Guidelines#your-nuvola-player-instance) do you use?
* The debugging output from a terminal as specified in the [Bug Reporting Guidelines](https://github.com/tiliado/nuvolaplayer/wiki/Bug-R

[2017-07-28 08:49] thw0rted commented on #28
The player is release 3.0.9 installed from the Xenial repository (f79856a).  When I attempted to reproduce the issue, the player started working -- I don't think I made any changes or installed anything new.  So, I guess you can close this and I'll report back in if it happens again.  Thanks!

[2017-07-28 08:58] thw0rted commented on #28
Actually, hold the phone, it broke again.  This is very strange.

I played a song, and it worked, but the interface language was not what I wanted (I live in Germany but my German is not great).  So, I scrolled down to my name, and clicked to change settings (Einstellungen in German).  This opened a new window with my account prefs, and here I was able to switch to English.  After I did that I clo

[2017-07-28 11:39] jiri-janousek commented on #28
Unfortunately, there is no page refresh in the log. Could you try to reproduce the issue again and collect new debug log?

[2017-08-02 11:43] thw0rted commented on #28
Sorry it's taken so long to get back, I've tried this several more times but can't seem to reproduce when the debug log is running.  I'll post back here if I actually manage to capture the failure.

[2017-08-03 21:00] a-m-s commented on #27
I believe volume controls should be working now.

It turned out to be more challenging that I'd expected because clickOnElement was not sufficient. It turns out the mouseenter event enables volume changes, and the mouseout event makes the change permanent.

[2017-08-03 21:06] a-m-s commented on #27
And the custom time parsing is gone too, so that should be all your objections addressed.

[2017-08-05 13:15] jiri-janousek commented on #27
* [x] See my comment on ad2e5fbd2c0ae0cbf28c65b9164c13bf2c362ce5

Well, Nuvola 4.6 is out with new features, so there is still some work to do ;-)

* [x] Since Nuvola 4.6 supports MSE, could you check whether Amazon Cloud Player works with `"requirements": "Codec[MP3] Feature[MSE]"`. If not, use `"requirements": "Codec[MP3] Feature[Flash]"` as Flash won't be enabled by default once all scripts are

[2017-08-05 13:20] jiri-janousek commented on #28
My guess is that the issue is caused by tiliado/nuvolaruntime#354. Flash loads fine for the first time but than fails every time a page is reloaded or a new page is loaded. Nuvola 4.5 contains workaround for this bug.

[2017-08-05 17:06] a-m-s commented on #27
Amazon does have thumbs. I already started looking at it. Nothing implemented yet.

[2017-09-06 13:16] #28 closed, assigned to nobody

[2017-09-26 10:59] jiri-janousek commented on #27
Hello @a-m-s. This ticket has stalled a bit. Do you want me to release 5.5 at the current state and postpone the last two points from my previous comment to the 5.6 release?

[2017-09-26 11:37] a-m-s commented on #27
Sorry, I've not had time to look at it for a while. The thumbs feature need not hold up a release.

How important is the MSE vs. Flash thing?

[2017-09-26 21:39] a-m-s commented on #27
I don't have time to get to the thumbs, but I did manage to test the feature flags. Apparently the player uses Flash to play any music which is not "owned" by the user.

[2017-09-26 21:40] a-m-s commented on #27
BTW, I didn't add a changelog entry as the change is not user-visible.

[2017-09-28 15:11] jiri-janousek opened #29 "Integrate thumb up/down or like/dislike"
Reticketed from https://github.com/tiliado/nuvola-app-amazon-cloud-player/issues/27#issuecomment-320443118

[2017-09-28 15:12] jiri-janousek commented on #27
No problem, reticketed as #29.

[2017-09-28 15:19] jiri-janousek commented on #27
Will rebuild the flatpak package with the upcoming Nuvola 4.8.

[2017-09-28 15:19] #27 closed, assigned to jiri-janousek

[2017-09-28 17:36] jiri-janousek commented on #27
Draft: https://medium.com/nuvola-news/nuvola-4-8-adds-pocket-casts-fixes-groove-music-temporarily-drops-spotify-and-calls-for-new-6ff7cfacac97

[2018-01-16 21:31] no-preserve-root opened #30 "Album name extraction not working"
The selection for the album name does not work (anymore?). As a result, the album name `(null)` is rendered in the sidebar.

Current selector is
[code]
Working selector is
[code]

Using nuvola and integrations from AUR.
[code]
Amazon Cloud Player integration version is 5.5.

[2018-01-17 21:17] a-m-s commented on #30
Confirmed; I see the missing name too, now.

[2018-01-17 21:29] #30 closed, assigned to a-m-s

[2018-01-17 21:31] a-m-s commented on #30
@no-preserve-root thanks for the patch!

[2018-01-25 15:33] jiri-janousek commented on #29
Hello, @a-m-s. Would it be possible to include this in the next release? Do you need some assistance?

[2018-01-25 17:33] a-m-s commented on #29
Sorry, it just got forgotten.

[2018-01-26 00:29] a-m-s commented on #29
This is now implemented, but there's no default key binding defined, which probably isn't helpful. Otherwise, the Amazon app seems to treat thumb up as a toggle button, and thumb down as a simple action, which may be confusing for the UI.

Do you have any precedence for thumb bindings?

[2018-02-06 17:07] a-m-s commented on #29
No reply, so I'm just going to call this done.

[2018-02-06 17:09] a-m-s opened #32 "Release 5.6"
Integration fix.
Update for Chromium.
Thumb actions.

[2018-02-07 13:37] jiri-janousek commented on #29
Sorry, I've forgotten to finish and send my reply. I don't have any preference for the thumbs keybinding, users can set whatever they wish.
Regarding that thumbs down behavior: Google Play Music sets the thumbs-down state and then skips to the next song. If you play the playlist again and get to the thumb-down song, you can press thumbs down to remove the thumbs-down state. What does Amazon do?

[2018-02-07 13:38] jiri-janousek commented on #32
Thanks, @a-m-s. I could make a release this weekend or earlier.

[2018-02-07 14:01] a-m-s commented on #29
The interface shows both thumb up and thumb down buttons, which suggests there could be three states: up, down, neither.

Actually clicking the button suggests that there are really only two states: up, or not. The thumbs down button seems to do the same thing as toggling the thumbs up off.

It does not do anything like skipping the track.

[2018-02-07 15:20] jiri-janousek commented on #29
If there are only two states, there is no need for the thumbs down toggle action. You can either remove it or make it a simple action, which should be disabled when the thumbs-up state is toggled off.

[2018-02-07 16:11] a-m-s commented on #29
I think I must be going slightly crazy!? :-(

I just went back to check what it was doing, and indeed it works like you describe google music. You hit thumbs down and it appears not to toggle because it goes straight to the next track.

I know it was late and I was editing this with the sound off, but I don't know how I got confused with this? Maybe I'd screwed up the classes and the site wasn't w

[2018-02-07 20:07] jiri-janousek commented on #29
Indeed, coding late and without sound is not optimal. I made the same mistake many times :-D

[2018-02-07 20:07] #29 closed, assigned to a-m-s

[2018-02-11 14:48] jiri-janousek commented on #32
A few tasks to do:
- [ ] You use async methods introduced in Nuvola 4.8 but the API version in metadata is still 3.0. Please set API in metadata to 4.8+ and remove `Nuvola.checkVersion` checks and `@API 4.5` comments from `integrate.js`.
- [ ] I'm slowly converting my scripts to [Standard JS code style](https://standardjs.com/). Could you convert your script too? You can use `standard --fix` from

[2018-02-12 12:27] a-m-s commented on #32
OK, I think those tasks are done now.

[2018-02-16 16:26] jiri-janousek commented on #32
Thanks, released :+1:

[2018-02-16 16:26] #32 closed, assigned to jiri-janousek

[2018-02-16 16:31] jiri-janousek commented on #32
I've also updated copyright info and removed trailing space in metadata.in.json (a bug in Nuvola SDK).

[2018-03-11 13:11] jiri-janousek opened #33 "Let's get rid of Flash [Due: 09/2018]"
Since this script is compatible with the Chromium backend, we could proceed further: Replace `"requirements": "Codec[MP3] Feature[Flash]"` with `"requirements": "Codec[MP3] Feature[MSE] Chromium[63]"`. For this, we need to check:

- [ ] Playback works with Flash plugin disabled (`Feature[Flash]` removed). I guess this will be okay presuming that Amazon detected functional MSE and didn't bother to

[2018-03-11 23:06] a-m-s commented on #33
Sorry, flash is required. This is what I get with your suggested requirements:
![screenshot from 2018-03-11 23-02-04](https://user-images.githubusercontent.com/5088295/37259618-6d208d6e-2580-11e8-9f74-88f956a07760.png)
Without Flash you can only play music that you own; it won't play music "included with Prime".

[2018-03-12 07:26] jiri-janousek commented on #33
Oh, that's a bummer. I've expected more from Amazon. Could you check whether Flash is also required in the genuine Chrome and then ask Amazon Cloud Player support whether there are any plans to get rid of Flash? You can say that Chrome makes more and more difficult to use Flash and [there is a roadmap for its removal](https://www.chromium.org/flash-roadmap).

Meantime, we could switch to Chromium,

[2018-03-12 11:01] a-m-s commented on #33
I get the same message in Chrome. I will send them a message.

[2018-03-13 11:45] a-m-s commented on #33
I wrote an email to Amazon support. I got a standard reply ignoring my questions and telling me to clear my cookies or use a different browser.

Trying again, worded for idiots.

[2018-03-13 16:20] a-m-s commented on #33
Still no luck. They keep telling me to call them. I don't fancy my chances of getting any operator that has a clue.

[2018-03-14 09:20] jiri-janousek commented on #33
The Amazon support seems to be unbelievably incompetent :-(

[2018-04-07 18:46] jiri-janousek opened #34 "Require Chromium backend"
Hello @a-m-s, could you modify the metadata to require the Chromium backend and test it again? I've recently implemented URL filtering for it, so it might break something.

[code]

[2018-04-09 13:40] a-m-s commented on #34
I now get a message that Flash is disabled. :-(

It works fine without Chromium.

[2018-04-09 17:02] jiri-janousek commented on #34
Could you attach a debugging log?

[2018-04-11 11:38] a-m-s commented on #34
So, my machine crashed badly. Corrupt root filesystem. Everything gone. Nightmare......

Despite running Arch Linux for years I couldn't get the graphics drivers to work again, and I need to get work done, so I've installed Ubuntu 17.10. I lost the Flatpak installs, but my user data and Nuvola sources are all safe on my home partition, so I just followed the wiki instructions again to reinstall th

[2018-04-11 12:08] a-m-s commented on #34
It might be that Ubuntu 17.10 has Flatpak 0.8.9 where Arch has 0.10.9?

[2018-04-11 14:16] jiri-janousek commented on #34
I don't think it's caused by a different Flatpak version. If the issue is not reproducible, we can proceed with the Chromium switch. If it appears again, debugging logs will tell us more.

[2018-04-23 22:33] #34 closed, assigned to a-m-s

[2018-05-07 13:01] jiri-janousek commented on #33
Let's check the progress every 4 months - next check September 2018.

[2018-05-19 12:33] jiri-janousek opened #35 "Modernize the script"
Hello @a-m-s. I'm posting tiliado/nuvolaruntime#424 for you as well because there may still be a few tiny changes to make (probably the first three tasks from the check list). Could you check that `nuvolasdk convert-project' works as advertised? Thanks :-)

---

There have been a lot of changes lately. I need you to review and modernize your script (tiliado/nuvolaruntime#424) so that it keeps prov

[2018-05-21 22:22] a-m-s commented on #35
Done.

[2018-05-21 22:22] #35 closed, assigned to nobody

[2018-07-27 08:36] jiri-janousek opened #37 "Looking for Something? We're sorry. The Web address you entered is not a functioning page on our site."
Hello @a-m-s. This is only an informational bug report because the user has resolved the issue without providing any logs, so we cannot investigate it further and possibly fix it. However, It could happen to another user so let's document the issue here.

The user:

(Amazon Cloud Player), it first brings up the following error page:

We're sorry. The Web address you entered is not a functioning pa

[2018-07-27 08:36] #37 closed, assigned to nobody

[2018-07-27 08:55] a-m-s commented on #37
Sounds like just clicking the home button would have worked too. Odd bug though.

[2019-01-25 12:13] a-m-s commented on #33
I believe this issue is now resolved too! :-D

[2019-01-25 19:50] jiri-janousek commented on #33
Sure :-)

[2019-01-25 19:50] #33 closed, assigned to nobody

[2019-02-24 21:13] jiri-janousek commented on #33
Released with **Nuvola 4.16.0**, more info: [Nuvola 4.16 Brings Libre.FM Scrobbling, Ivoox Service, and more](https://medium.com/nuvola-news/nuvola-4-16-86a089068784)

[2019-06-16 21:27] ajithrn opened #40 "Feature Request: Add India in Amazon Cloud Player country selection"
Currently there is no option to select India as a national variant in amazon cloud player. Amazon India used a .in domain  for its service [https://music.amazon.in/](https://music.amazon.in/) If you can add the support for it that would be great.

[2019-06-17 11:35] a-m-s commented on #40
Thanks for the pull request. I added tested it and added a changelog entry.

[2019-06-17 11:35] #40 closed, assigned to nobody

[2019-06-17 11:37] a-m-s opened #42 "Release 5.10"
* Add Canadian and Indian region support.
  * Play action now will press "second" play button whenn button in header is disabled.

[2019-06-18 08:37] jiri-janousek commented on #42
Hello @a-m-s. Could you fix [the latest build failure](https://circleci.com/gh/tiliado/nuvola-app-amazon-cloud-player/12)?

[2019-06-18 08:44] jiri-janousek commented on #42
It would be great to catch these issues earlier: tiliado/nuvolaruntime#538

[2019-06-19 11:36] a-m-s commented on #42
Done. Apologies for not spotting that.

[2019-06-30 19:38] jiri-janousek commented on #40
New flatpaks were published - Amazon Cloud Player 5.9.5.

[2019-06-30 19:40] jiri-janousek commented on #42
I've published new flatpaks with latest git master.

[2019-10-25 18:24] eduardoweiland opened #43 "Feature Request: Add Brazil support"
Amazon Music in Brazil uses domain music.amazon.com.br

[2019-10-30 09:28] a-m-s commented on #42
There's now Brazilian support to release.

[2019-11-02 19:21] jiri-janousek commented on #43
Hello @eduardoweiland. @a-m-s has added support for Brazil. I'm still struggling with tiliado/nuvola-flatpaks#1. I will publish new flatpaks once it is resolved.

[2019-11-03 01:16] eduardoweiland commented on #43
Thanks @fenryxo and @a-m-s

[2019-11-03 12:17] jiri-janousek commented on #42
Awesome. New flatpak published :-)

[2019-11-03 12:18] jiri-janousek commented on #43
New flatpaks have been published.

[2019-11-03 12:18] #43 closed, assigned to nobody

[2020-09-28 06:15] jiri-janousek commented on #42
Release 5.10 tagged and will be announced later today.

[2020-09-28 09:48] #42 closed, assigned to jiri-janousek

[2020-11-10 16:03] a-m-s opened #45 "Release 5.11"
Update integration following Amazon Music site redesign.

[2020-11-14 15:35] jiri-janousek commented on #45
Will be released with Nuvola 4.19 tiliado/nuvolaplayer#669.

[2020-11-29 09:41] jiri-janousek commented on #45
Released :+1:

[2020-11-29 09:41] #45 closed, assigned to jiri-janousek

[2021-03-04 08:46] trustin opened #46 "Add Japan support for Amazon Music"
Thank you for a great project. It'd be awesome if Japan is added to the country variant list. :bow:

[2021-03-04 14:38] a-m-s commented on #46
What's the URL for that, please?

[2021-03-04 14:43] trustin commented on #46
It's https://music.amazon.co.jp

[2021-03-04 14:56] a-m-s commented on #46
I've added an option to the preferences so you can set that as your "home" music site, but I can't check if the integration works because I don't speak Japanese and don't have an account at Amazon Japan.

This change will be included in the next Novula release (most likely). In the meantime, please use the "Load URL..." option from the Nuvola hamburger menu to navigate there yourself. It should al

[2021-03-04 14:57] a-m-s commented on #46
Please let me know if it works so I can close this issue.

[2021-03-04 21:57] jiri-janousek commented on #46
I'm going to publish fresh packages tomorrow.

[2021-03-05 17:21] jiri-janousek commented on #46
🍬 The feature was added to **Amazon Cloud Player script version 1.5.2** (2-g3a35663). It's already available in [📦 the Nuvola Player flatpak repository](https://nuvola.tiliado.eu/app/amazon_cloud_player/) (both stable and development branches). Thanks for reporting the issue :+1:

[2021-04-11 19:35] #46 closed, assigned to jiri-janousek

[2021-06-06 23:17] ppoletti opened #47 "Your Browser Is Not Supported Message Prevents From Starting"
5.12.0 (0-gc08a57d) version is presented with message of "Your browser is not supported"

[2021-06-08 17:06] jiri-janousek commented on #47
Hello @ppoletti, we track that issue in tiliado/nuvolaplayer#744. Please visit that issue to get all details.

[2021-06-08 17:06] #47 closed, assigned to nobody